@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Gabarito', 'Arial', sans-serif;
	background: linear-gradient(
		320deg,
		rgba(255, 254, 2, 1) 20%,
		rgba(58, 163, 233, 1) 40%
	);
}

h1 {
	text-align: center;
	font-size: 48px;
	letter-spacing: -3px;
	color: #eee;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 3rem;
}

.input-container {
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.input-container input {
	padding: 1rem;
	border-radius: 0.5em;
	border: none;
	outline: none;
}
.container {
	border: 2px solid black;
	width: 600px;
	height: 600px;
	margin: 2rem auto;
	box-shadow: 0 6px 12px 0 black;
	background-color: #eee;
	display: grid;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
	border: 1px solid #333;
	cursor: crosshair;
	text-align: center;
}

.btn-container {
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.btn {
	padding: 1rem 2rem;
	font-size: inherit;
	font-weight: 600;
	border-radius: 0.5em;
	border: 3px solid #eee;
	outline: none;
	cursor: pointer;
	transition: 1s;
}
.btn:hover {
	background-color: transparent;
	color: #eee;
	text-shadow: 1px 1px 2px black;
}

.row {
	width: 30px;
	border: 1px solid #333;
}
